<ion-modal-view>
	<ion-header-bar>
		<div class="title">
			<i class="icon ion-chevron-left" ng-click="back()"></i>
			Forget Password
		</div>
	</ion-header-bar>
	<ion-content>
		<form ng-submit="doReset()">
			<div class="list">
				<label class="item item-input">
					<span class="input-label">Email/Mobile</span>
					<input type="text" ng-model="resetData.mobile">
				</label>
				<div class="col col-80 col-offset-10">
					<button class="button button-block button-positive" type="submit">Reset Password</button>
				</div>
			</div>
		</form>
	</ion-content>
</ion-modal-view>