<ion-view view-title="Language">
	<ion-content>
		<br>
		<br>
		<div class="row row-top">
			<div class="col col-center">
				<a class="item-transparent"><img src="img/logo/logo-with-name.png"></a>
			</div>
		</div>
		<div class="row row-bottom">
			<div class="col col-center col-80 col-offset-10">
				<p class="text-center">Select Language</p>
				<div class="button-bar col-center">
					<a class="button item-transparent" ng-click="selectLanguage(en)"><img src="img/language/language-en.png"></a>
					<a class="button item-transparent" ng-click="selectLanguage(ch)"><img src="img/language/language-ch.png"></a>
					<a class="button item-transparent" ng-click="selectLanguage(ru)"><img src="img/language/language-ru.png"></a>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
