<ion-view view-title="Profile">
	<ion-content>
		<br>
		<br>
		<div class="row row-top">
			<div class="col col-center">
				<div class=" item-image">
					<a class="item-transparent"><img src="img/logo/logo-with-name.png"></a>
				</div>
			</div>
		</div>
		<div class="row row-center">
			<div class="col col-center">
				<button class="button button-light" ng-click="userSignin()">
					<a class="item-transparent "><img src="img/logo/logo-guest.png "> Sign in as Guest</a>
				</button>
				<br>
				<button class="button button-light" ng-click="facebookSignin()">
					<a class="item-transparent "><img src="img/logo/logo-facebook.png "> Login With <strong>Faceebok</strong></a>
				</button>
			</div>
		</div>
		<div class="row row-bottom">
			<div class="col col-center">
				<div class="leftimage">
					<img src="img/logo/logo-amazing-thailand.png">
					<img src="img/logo/logo-ttt.png">
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
