<ion-view>
	<ion-content>
		<div id="panel">
			<div class="item-input-inset">
				<label class="item-input-wrapper">
					<i class="icon ion-search placeholder-icon"></i>
					<input type="search" placeholder="Set Start Location">
				</label>
			</div>
			<div class="item-input-inset">
				<label class="item-input-wrapper">
					<i class="icon ion-search placeholder-icon"></i>
					<input type="search" placeholder="Set Destination Location">
				</label>
			</div>
			<div id="map" data-tap-disabled="true"></div>
		</div>
	</ion-content>
</ion-view>