<ion-view>
	<ion-content>
		<div class="item-input-inset">
			<label class="item-input-wrapper">
				<i class="icon ion-search placeholder-icon"></i>
				<input id="origin" type="search" placeholder="Set Start Location" ng-model="place.origin">
			</label>
		</div>
		<div class="item-input-inset">
			<label class="item-input-wrapper">
				<i class="icon ion-search placeholder-icon"></i>
				<input id="destination" type="search" placeholder="Set Destination Location" ng-model="place.destination">
			</label>
		</div>
		<div id="map" data-tap-disabled="true"></div>
		</div>
	</ion-content>
</ion-view>