<ion-view view-title="Settings">
        <div class="bar bar-header bar-positive">
            <h1 class="title">Settings</h1>
        </div>
    <ion-content class="has-header">
		<div class="row">
            <div class="col text-center">
               <img class="circle-small" src="../../img/search/white.png">
               <p class="text-center">Firstname Lastname <br/> Username</p>
            </div>
        </div>
        <div class="row">
            <div class="col-33">
               <img class="circle-small" src="../../img/search/white.png">
               <p class="text-center">Plan</p>
            </div>
            <div class="col-33">
               <img class="circle-small" src="../../img/search/white.png">
               <p class="text-center">Satellite</p>
            </div>
            <div class="col-33">
               <img class="circle-small" src="../../img/search/white.png">
               <p class="text-center">Public</p>
            </div>
        </div>
        <div class="list">
            <a class="item item-icon-left" ng-click="alertSetting()">
                <i class="icon ion-alert-circled"></i> Road Alert
            </a>
            <a class="item item-icon-left">
                <i class="icon ion-android-download"></i> Download Maps
            </a>
            <a class="item item-icon-left" ng-click="soundSetting()">
                <i class="icon ion-volume-medium"></i> Sound
            </a>
            <a class="item item-icon-left" ng-click="mapSetting()">
                <i class="icon ion-earth"></i> Map
            </a>
            <a class="item item-icon-left" ng-click="about()">
                <i class="icon ion-information-circled"></i> About
            </a>
            <a class="item item-icon-left" ng-click="signout()">
                <i class="icon ion-power"></i> Sign out
            </a>
        </div>
    </ion-content>
</ion-view>
