<ion-view view-title="favorite">
<div class="bar bar-header bar-positive padding">
    <h1 class="title">Favorites</h1>
</div>
<ion-tabs class="tabs-messages tabs-light tabs-top tabs-icon-top has-tabs-top">
    <ion-tab icon-on="ion-flag" icon-off="ion-flag" href="#/tab/favorite/main">
        <ion-nav-view name="favorite-main"></ion-nav-view>
    </ion-tab>
    <ion-tab icon-on="ion-refresh" icon-off="ion-refresh" href="#/tab/favorite/history">
        <ion-nav-view name="favorite-history"></ion-nav-view>
    </ion-tab>
</ion-tabs>

<!--  <ion-tabs class="tabs-light tabs-top tabs-icon-top has-tabs-top">   
       <ion-tab icon-on="ion-flag" icon-off="ion-flag" href="#/tab/favorite/main">
           <ion-nav-view name="favorite-main"></ion-nav-view>
       </ion-tab>
       <ion-tab icon-on="ion-refresh" icon-off="ion-refresh" href="#/favorite/history">
           <ion-nav-view name="favorite-history"></ion-nav-view>
       </ion-tab>
   </ion-tabs>
    -->
    </ion-view>
