<ion-view view-title="favorite-history">
  <ion-content>
    <div class="list">
      <a class="item" href="#/tab/favorite">
        <h2><strong>Dyadya Dyoner</strong></h2>
        <div class="item-text-wrap">Altayskiy kyay, Orkug Biysk, Biysk, Kommunarskiya 21</div>
        <span class="item-note assertive">35 KM</span>
      </a>
      <a class="item-b" href="#/tab/favorite">
        <h2><strong>Subway</strong></h2>
        <div class="item-text-wrap">Kemerovo, Prospekt lening 59a, Pramenad 3</div>
        <span class="item-note assertive">11 KM</span>
      </a>


    </div>

  </ion-content>
</ion-view>
