<ion-view view-title="search-main">
    <ion-content>
        <div class="row">
            <div class="col-33">
               <img class="circle" src="../../img/search/white.png">
               <p class="text-center">Fast Food</p>
            </div>
            <div class="col-33">
               <img class="circle" src="../../img/search/white.png">
               <p class="text-center">Restaurants</p>
            </div>
            <div class="col-33">
               <img class="circle" src="../../img/search/white.png">
               <p class="text-center">Bars and Pubs</p>
            </div>
        </div>
        <div class="row">
            <div class="col-33">
               <img class="circle" src="../../img/search/white.png">
               <p class="text-center">Gas Stations</p>
            </div>
            <div class="col-33">
               <img class="circle" src="../../img/search/white.png">
               <p class="text-center">Auto Repair</p>
            </div>
            <div class="col-33">
               <img class="circle" src="../../img/search/white.png">
               <p class="text-center">Car Wash</p>
            </div>
        </div>
        <div class="row">
            <div class="col-33">
               <img class="circle" src="../../img/search/white.png">
               <p class="text-center">Pharmacies</p>
            </div>
            <div class="col-33">
               <img class="circle" src="../../img/search/white.png">
               <p class="text-center">Hospitals</p>
            </div>
            <div class="col-33">
               <img class="circle" src="../../img/search/white.png">
               <p class="text-center">ATMs</p>
            </div>
        </div>
        <div class="row">
            <div class="col-33">
               <img class="circle" src="../../img/search/white.png">
               <p class="text-center">Groceries</p>
            </div>
            <div class="col-33">
               <img class="circle" src="../../img/search/white.png">
               <p class="text-center">Movie Theaters</p>
            </div>
            <div class="col-33">
               <img class="circle" src="../../img/search/white.png">
               <p class="text-center">Hotels</p>
            </div>
        </div>
    </ion-content>
</ion-view>
