<ion-view view-title="search-category">
  <ion-content>
    <div class="row">
      <div class="col-25" ng-click="search('meal_takeaway')">
        <img class="circle" src="../../img/category/category-tourist-blue.png" onmouseover="this.src='../../img/category/category-tourist-white.png';" onmouseout="this.src='../../img/category/category-tourist-blue.png';">
        <p class="text-center">Tourist Atrraction</p>
      </div>
      <div class="col-25" ng-click="search('meal_takeaway')">
        <img class="circle" src="../../img/category/category-hotel-blue.png" onmouseover="this.src='../../img/category/category-hotel-white.png';" onmouseout="this.src='../../img/category/category-hotel-blue.png';">
        <p class="text-center">Hotels</p>
      </div>
      <div class="col-25" ng-click="search('meal_takeaway')">
        <img class="circle" src="../../img/category/category-club-blue.png" onmouseover="this.src='../../img/category/category-club-white.png';" onmouseout="this.src='../../img/category/category-club-blue.png';">
        <p class="text-center">Beach Club</p>
      </div>
      <div class="col-25" ng-click="search('meal_takeaway')">
        <img class="circle" src="../../img/category/category-restaurant-blue.png" onmouseover="this.src='../../img/category/category-restaurant-white.png';" onmouseout="this.src='../../img/category/category-restaurant-blue.png';">
        <p class="text-center">Restaurant</p>
      </div>
    </div>
    <div class="row">
      <div class="col-25" ng-click="search('meal_takeaway')">
        <img class="circle" src="../../img/category/category-fastfood-blue.png" onmouseover="this.src='../../img/category/category-fastfood-white.png';" onmouseout="this.src='../../img/category/category-fastfood-blue.png';">
        <p class="text-center">Fastfood</p>
      </div>
      <div class="col-25" ng-click="search('meal_takeaway')">
        <img class="circle" src="../../img/category/category-bar-blue.png" onmouseover="this.src='../../img/category/category-bar-white.png';" onmouseout="this.src='../../img/category/category-bar-blue.png';">
        <p class="text-center">Bar</p>
      </div>
      <div class="col-25" ng-click="search('meal_takeaway')">
        <img class="circle" src="../../img/category/category-cafe-blue.png" onmouseover="this.src='../../img/category/category-cafe-white.png';" onmouseout="this.src='../../img/category/category-cafe-blue.png';">
        <p class="text-center">Cafe & Pubs</p>
      </div>
      <div class="col-25" ng-click="search('meal_takeaway')">
        <img class="circle" src="../../img/category/category-atm-blue.png" onmouseover="this.src='../../img/category/category-atm-white.png';" onmouseout="this.src='../../img/category/category-atm-blue.png';">
        <p class="text-center">ATMs</p>
      </div>
    </div>
    <div class="row">
      <div class="col-25" ng-click="search('meal_takeaway')">
        <img class="circle" src="../../img/category/category-bank-blue.png" onmouseover="this.src='../../img/category/category-bank-white.png';" onmouseout="this.src='../../img/category/category-bank-blue.png';">
        <p class="text-center">Banks</p>
      </div>
      <div class="col-25" ng-click="search('meal_takeaway')">
        <img class="circle" src="../../img/category/category-grocery-blue.png" onmouseover="this.src='../../img/category/category-grocery-white.png';" onmouseout="this.src='../../img/category/category-grocery-blue.png';">
        <p class="text-center">Groceries</p>
      </div>
      <div class="col-25" ng-click="search('meal_takeaway')">
        <img class="circle" src="../../img/category/category-pharmacy-blue.png" onmouseover="this.src='../../img/category/category-pharmacy-white.png';" onmouseout="this.src='../../img/category/category-pharmacy-blue.png';">
        <p class="text-center">Pharmacies</p>
      </div>
      <div class="col-25" ng-click="search('meal_takeaway')">
        <img class="circle" src="../../img/category/category-hospital-blue.png" onmouseover="this.src='../../img/category/category-hospital-white.png';" onmouseout="this.src='../../img/category/category-hospital-blue.png';">
        <p class="text-center">Hospitals</p>
      </div>
    </div>
    <div class="row">
      <div class="col-25" ng-click="search('meal_takeaway')">
        <img class="circle" src="../../img/category/category-gas-blue.png" onmouseover="this.src='../../img/category/category-gas-white.png';" onmouseout="this.src='../../img/category/category-gas-blue.png';">
        <p class="text-center">Gas Station</p>
      </div>
      <div class="col-25" ng-click="search('meal_takeaway')">
        <img class="circle" src="../../img/category/category-repair-blue.png" onmouseover="this.src='../../img/category/category-repair-white.png';" onmouseout="this.src='../../img/category/category-repair-blue.png';">
        <p class="text-center">Auto Repair</p>
      </div>
      <div class="col-25" ng-click="search('meal_takeaway')">
        <img class="circle" src="../../img/category/category-car-wash-blue.png" onmouseover="this.src='../../img/category/category-car-wash-white.png';" onmouseout="this.src='../../img/category/category-car-wash-blue.png';">
        <p class="text-center">Car Wash</p>
      </div>
      <div class="col-25" ng-click="search('meal_takeaway')">
        <img class="circle" src="../../img/category/category-religion-blue.png" onmouseover="this.src='../../img/category/category-religion-white.png';" onmouseout="this.src='../../img/category/category-religion-blue.png';">
        <p class="text-center">Religions</p>
      </div>
    </div>
  </ion-content>
</ion-view>
